body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home-bg, .contact-bg, .whatwedo-bg, .aboutus-bg {
    position: fixed;
    top: 50;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home-bg {
    background-image: url('../background_homepage.jpg');
}

.contact-bg {
    background-image: url('../background_contact.jpg');
}

.whatwedo-bg {
    background-image: url('../background_WhatWeDo.jpg');
}

.aboutus-bg {
    background-image: url('../background_AboutUs.jpg');
}

.home-bg::before, .contact-bg::before, .whatwedo-bg::before, .aboutus-bg::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 32, 0.5);
    z-index: 1;
}

.home-bg > *, .contact-bg > *, .whatwedo-bg > *, .aboutus-bg > * {
    position: relative;
    z-index: 2;
}

main .home-bg, main .contact-bg, main .whatwedo-bg, main .aboutus-bg {
    border-radius: 0 !important;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
}

footer, nav {
    position: relative;
    z-index: 10;
}

.home-bg h1, .contact-bg h1, .whatwedo-bg h1, .aboutus-bg h1 {
    margin-top: -20rem; /* or less, as needed */
}
