{% extends 'base.html' %}
{% block content %}
<div class="aboutus-bg rounded-3" style="justify-content: flex-start; padding-top: 2rem;">
    <div class="container">
        <h2 class="mb-4 mt-4 text-start" data-en="Leadership" data-zh="领导团队">Leadership</h2>
        <div class="row mb-4">
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="row g-0 align-items-top h-100">
                        <div class="col-4 text-center">
                            <img src="/static/bio_photo_Alex.JPEG" alt="Alex Xu Photo" class="mb-3 mt-4" style="width: 150px; height: 180px; object-fit: cover;">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h4 class="card-title">Alex Xu</h4>
                                <h6 class="card-subtitle mb-2 text-muted" data-en="Managing Partner" data-zh="管理合伙人">Managing Partner</h6>
                                <ul class="ps-0 mb-2 list-unstyled">
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="Co-founder and managing partner of AK8 Capital" data-zh="AK8资本联合创始人, 合伙人">Co-founder and managing partner of AK8 Capital</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="Founder & CEO of Xuper Funding, 10 years of experience with revenue-based financing" data-zh="Xuper Funding创始人兼CEO, 拥有10年“收入分成融资”产品的经验">Founder & CEO of Xuper Funding, 10 years of experience with revenue-based financing</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="Advisory committee member to the NYC mayor on small business services" data-zh="纽约市长办公室小型企业委员会成员">Advisory committee member to the NYC mayor on small business services</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="MBA from NJIT" data-zh="新泽西理工学院工商管理硕士">MBA from NJIT</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="row g-0 align-items-top h-100">
                        <div class="col-4 text-center">
                            <img src="/static/bio_photo_Kelin.JPG" alt="Kelin Li Photo" class="mb-3 mt-4" style="width: 150px; height: 180px; object-fit: cover;">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h4 class="card-title">Kelin Li</h4>
                                <h6 class="card-subtitle mb-2 text-muted" data-en="Managing Partner" data-zh="管理合伙人">Managing Partner</h6>
                                <ul class="ps-0 mb-2 list-unstyled">
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="Co-founder and managing partner of AK8 Capital" data-zh="AK8资本联合创始人, 合伙人">Co-founder and managing partner of AK8 Capital</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="10 years of experience in financial markets and investments across various asset classes" data-zh="在金融市场和多类资产投资方面拥有10年经验">10 years of experience in financial markets and investments across various asset classes</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="Board Member (Treasurer) of Asian American Arts Alliance, a NYC based non-profit organization" data-zh="纽约非营利组织亚裔艺术家联盟董事会成员（财务主管）">Board Member (Treasurer) of Asian American Arts Alliance, a NYC based non-profit organization</span></li>
                                    <li class="mb-1"><span style="color:#333; font-size:1em; margin-right:0.3em;">&#9670;</span><span data-en="M.S. in Quantitative Finance from Carnegie Mellon University" data-zh="卡耐基梅隆大学量化金融硕士">M.S. in Quantitative Finance from Carnegie Mellon University</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %} 